
/* checkbox-inland-import */
.checkbox-inland-import > li:nth-child(1) div {
    display: flex;
    align-items: center;
  }
  /* Variation of work by @mrhyddenn for Radios */
  .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: #4285f4;
  }
  
  #cbx:checked + .check svg {
    stroke: #4285f4;
  }
  
  #cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  
  /* select-inland-import */
  .select-inland-import {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 50px;
    border: #333 2px solid;
    box-shadow: 0 10px 7px -0px #c7c5c5;
    border-radius: 10px;
    height: 60px;
    padding-top: 10px;
  }
  .select-inland-import ul {
    display: flex;
    align-items: center;
  }
  .element-product {
    display: flex;
    text-align: center;
  }
  .element-product li {
    width: 150px;
    text-align: end;
    font-weight: 600;
  }
  
  .title-product-cart img {
    height: 30px;
    width: auto;
    user-select: none;
  }
  .title-product-cart i {
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
  }
  /* cart  */
  a {
    text-decoration: none;
  }
  .cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 10px -2px #dbdada;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;
    border: #333 2px solid;
  }
  
  .cart-name li.cart-product-img {
    width: 130px;
    height: 130px;
    overflow: hidden;
  }
  .cart-name li img {
    color: transparent;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
  }
  .cart-name-product a {
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  .content-product-cart {
    color: #767779;
    font-size: 13px;
  }
  .cart-name {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .cart-name li {
    width: auto;
    margin: 0 10px;
  }
  .info-bill-product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
    gap: 30px;
  }
  .info-bill-product li {
    width: 120px;
    text-align: center;
    font-size: 18px;
  }
  .initial-value,
  .price-value-product {
    font-weight: 700;
  }
  .info-bill-product li svg {
    width: 30px;
  }
  .info-bill-product li.ship-product p {
    margin-left: -50px;
  }
  /* btn voucher */
  .cart-order {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    box-shadow: #c7c5c5 0 10px 5px -2px;
    margin: 30px 0;
    border-radius: 4px;
    border: 1px solid #ccd2dc;
  }
  .btn-voucher input {
    border: 1px solid #ccd2dc;
    border-radius: 4px 0 0 4px;
    height: 40px;
    padding: 0 102px 0 16px;
    transition: 0.3s;
    width: 300px;
    color: #333;
    border-right: none;
  }
  
  .btn-voucher {
    display: flex;
    align-items: center;
  }
  .btn-voucher button {
    width: auto;
    height: 40px;
    padding: 0 30px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(284deg, #000000 89%, #ffffff 90%);
    border: 1px solid #ccd2dc;
    color: #fff;
    border-radius: 0 4px 4px 0;
    border-left: none;
  }
  .pay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .pay li {
    text-align: end;
  }
  .pay button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: #fff;
  }
  .total-price-value-product {
    font-size: 20px;
    font-weight: 600;
  }
  /* .checkbox-tick{
    font-size: 20px;
  } */