.Form-show-user {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    border-top: 1px solid #e4e3e3;
    border-bottom: 1px solid #e4e3e3;
}
.Form-show-user > div {
    width: 240px;
    
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.btn-outline-user {
    border-radius: 8px;
    border: 1px #04aa6d solid;
    color: black;
}
.date-of-birth{
    /* margin-top: 50px; */
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 30px ;
    /* resize: vertical; */
}
/* .checkbox{
    appearance: none;
    color: rgb(0, 0, 0);
    pointer-events: none;
    position: absolute;
    opacity: 0;
} */

.profile-content-right {
    width: 82vw;
    /* background-color: rgb(217, 216, 216); */
    height: 830px;
}

.profile-content-right-title {
    width: 900px;
    display: inline-block;
    border-bottom: rgb(216, 214, 214) solid 2px;
    margin-left: 70px;
}
.title-fill-name {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 450;
}
.title-fill {
    margin-left: 330px;
}
.checkbox {
    display: flex;
    display: inline-block;
    width: 18px;
    height: 18px;
}
.checkbox-name {
    display: inline;
    margin-left: 5px;
    margin-bottom: 10px;
}
.gender {
    height: 40px;
}
.title {
    color: #505f77;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    font-weight: 600;
}
.profile-content-right-main {
    margin-top: 40px;
    justify-content: center;
}
.input-fill {
    background: #fff;
    border: 2px solid #5f718c;
    color: #000;
    height: 40px;
    padding: 0 12px;
    transition: 0.3s;
    width: 420px;
    height: 34px;
}
.title-fill-submit {
    margin-top: 10px;
    margin-left: 320px;
}
.confirm {
    margin-left: 100px;
    line-height: 30px;
    border-radius: 60px;
    width: 95px;
    outline: none;
    background-color: rgb(238, 238, 238);
    font-weight: 550;
}
.change {
    margin-left: 100px;
    line-height: 30px;
    width: 95px;
    border-radius: 60px;
    outline: none;
    background-color: black;
    color: #ffffff;
    font-weight: 550;
}
/* tabs */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}
.nav-tabs li a {
    color: #000;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}
/* btn-UserFillter */
.btn-UserFillter button {
    width: 200px;
    background: none;
    border: none;
    /* border-bottom: 1px #5f718c !important ; */
    color: #505f77;
    font-size: 20px;
    margin: 10px;
}
.content-UserFillter > h2 {
    margin-left: 20%;
}
.content-UserFillter > form {
    margin-left: 30%;
}
.form-content-UserFillter > input {
    border: 2px #505f77 solid !important;
    padding: 8px;
    width: 500px !important;
    margin: 5px 0;
}
.form-content-UserFillter > .date {
    border: 2px #505f77 solid !important;
    padding: 8px;
    padding-top: 11px !important;
    padding-bottom: 12px;
    border-radius: 3px;
    /* line-height: 20px; */
    width: 500px !important;
    margin: 5px 0;
}
.form-content-UserFillter > p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-top: 15px;
  
}
/* check */
.form-check-userfillter label {
    margin-top: 10px;
    margin-right: 10px;
}
.form-check-userfillter span {
    font-weight: 500;
}
.form-check-userfillter {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    
}

.radio-group {
    display: flex;

    width: 100px;
}

.radio-label {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
}

.radio-label:hover {
    background-color: #e6e6e6;
}

.radio-input {
    position: absolute;
    opacity: 0;

}

.radio-input:checked + .radio-label {
    background-color: #bfcedf;
    border-color: #1180ff;
}

.radio-input:focus + .radio-label {
    outline: 2px solid #1180ff;
}

.radio-inner-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid #888;
    border-radius: 50%;
    margin-right: 0.5em;
    transition: border-color 0.2s;
    position: relative;
}

.radio-label:hover .radio-inner-circle {
    border-color: #555;
}

.radio-input:checked + .radio-label .radio-inner-circle {
    border-color: #1180ff;
}

.radio-input:checked + .radio-label .radio-inner-circle::after {
    content: "";
    display: block;
    width: 0.5em;
    height: 0.5em;
    background-color: #1180ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* btn-xac-nhan-reset */
.btn-xac-nhan-reset > button {
    margin-left: 300px;
    border: 1px #000 solid;
    border-radius: 20px;
    transition: 0.33s ease;
}
.btn-xac-nhan-reset button:hover {
    background: #000;
    color: #e6e6e6;
}
/*  menu */
#menu1 {
    display: grid;
    place-items: center;
    height: auto;
    margin: 10px;
}
#menu1 img {
    width: 600px;
}
.tab-pane > h3 {
    display: grid;
    place-items: center;
    padding: 0 !important;
}
.title-sp-yeu-thich {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
  
}
.nav-sp-yeu-thich {
    margin-left: 20px;
}
#menu5 {
    position: absolute;
    top: 55%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
.san-pham-yeu-thich {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.item-img-yeu-thich {
    width: 100px;
    overflow: hidden;
    height: 120px;
    display: grid;
    place-items: center;
    align-items: center;
}
.item-img-yeu-thich img {
    object-fit: cover;
    width: 100px;
}
.btn-xac-nhan-them{
    margin-top:20px ;
}
.item-name-yeu-thich {
    width: 500px;
    overflow: hidden;
}
.san-pham-yeu-thich > button {
    padding: 5px 10px;
    border-radius: 10px;
    background: #5f718c;
    color: #e6e6e6;
    font-weight: 400;
    border: none;
}
.san-pham-yeu-thich > button:hover {
    box-shadow: #e21616 0 0 5px 2px;
    background: #e21616;
}
.san-pham-yeu-thich {
    border-top: #c1bebe 2px solid;
    border-bottom: #c1bebe 2px solid;
}
.address-css{
    margin-top: 50px; 
    width: 350px !important;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 30px;
  

}