.Admin-sidebar {
    width: 250px; /* adjust the width as needed */
    background-color: #333; /* dark gray background */
    padding: 20px;
    color: #fff; /* white text color */
    height: 700px;
    position: fixed;
    top: 0;   
}
.btn-deal-hot-css{
    border-radius: 8px !important;
    border: 1px #04aa6d solid !important;
    color: black !important;
}
.btn-product-css{
    border-radius: 8px !important;
    border: 1px #04aa6d solid !important;
    color: black !important;
}
.Admin-logo {
    display: grid;
    place-items: center;
}
.Admin-logo img {
    width: 150px;
    margin-bottom: 20px;
}

.Admin-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #444;
    transition: background-color 0.2s ease;
}

.nav-item:hover {
    background-color: #444;
}

.nav-item.active {
    border-radius: 8px;
    margin-bottom: 10px;
    color: #fff;
}
